<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%block title_block %}<title>Drums Registration Base</title> {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <ul class="nav navbar-nav">
              <li> <a class="nav-link" href="{% url 'drums1:drumsclassespage' %}"> Classes </a> </li>
              <li> <a class="nav-link" href="{% url 'drums1:drumssearchpage' %}"> Search </a> </li>
              <li> <a class="nav-link" href="{% url 'drums1:drumsregisterationpage' %}"> Register </a> </li>


                {% if user.is_authenticated %}
                 <li><a class="nav-link" href="{% url 'drums1:drumsuserlogoutpage' %}"> Logout </a></li>
                {% else %}
                 <li><a class="nav-link" href="{% url 'drums1:drumsuserloginpage' %}"> Login </a></li>
                {% endif %}

            </ul>
          </div>
      </nav>
      <div class="container">
          {%block body_block%}
          {% endblock %}
      </div>
</body>
</html>