<!DOCTYPE html>
{% load static %}
{% load drums_custom_templatetags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Drums Select Page</title>
    <link rel="stylesheet" href="{% static "drums_static/drums_css/drumscss.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1>Welcome!!!!</h1>
        <h2> {{ select_drums|upper }} </h2>
        {{ options|cutarg:"Roland" }}
        {{ units|add:'99' }}
        <p></p>
        <img src="{% static "drums_static/drums_images/drums.jpg" %}" alt="My image">
        <img src="{% static "drums_static/drums_images/drums2.jpg" %}" alt="My image">
    </div>
  </body>
</html>
