<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Search Results</h1>
   {{ model }}
  {{ brand }}
<!--  {% if results %}-->
<!--  {% for result in results %}-->
<!--    {{ result.drums_brand }}-->
<!--    {{ result.drums_model }}-->
<!--    {{ result.drums_year }}-->
<!--  {% endfor %}-->
<!--{% else %}-->
<!--    <h3 class='error'>Please enter a valid UID</h3>-->
<!--    <form method="get" action="/search/">-->
<!--      Search Notecards:<input type="text" name="q" id="id_q" value="{{ query }}"/>-->
<!--      <input type="submit" value="Search" />-->
<!--    </form>-->
<!--{% endif %}-->
  </body>
</html>