<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Drums Tables</title>
    <link rel="stylesheet" href="{% static "drums_static/drums_css/drumstablescss.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1>WELCOME!!</h1>
        <h2>Here is the Model/Brand/Year table</h2>
        <div class="drumstbclass">
            {% if access_records_model %}
                <table>
                    <thead>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>Year</th>
                    </thead>

                    {% for acc in access_records_model %}
                        <tr>
                            <td>{{ acc.drums_model }}</td>
                            <td>{{ acc.drums_brand }}</td>
                            <td>{{ acc.drums_year }}</td>

                        </tr>
                  {% endfor %}
                </table>
            {% else %}
                <p>No access records found</p>
            {% endif %}
        </div>

        <h2>Here is the Model/Store/Units table</h2>
        <div class="drumstbclass">
            {% if access_records_store %}
                <table>
                    <thead>
                        <th>Model</th>
                        <th>Store</th>
                        <th>Units</th>
                    </thead>

                    {% for acc in access_records_store %}
                        <tr>
                            <td>{{ acc.drums_model }}</td>
                            <td>{{ acc.drums_store }}</td>
                            <td>{{ acc.drums_units }}</td>

                        </tr>
                  {% endfor %}
                </table>
            {% else %}
                <p>No access records found</p>
            {% endif %}
        </div>

        <h2>Here is the Model/Store/Address/Cost table</h2>
        <div class="drumstbclass">
            {% if access_records_cost %}
                <table>
                    <thead>
                        <th>Model</th>
                        <th>Store</th>
                        <th>Address</th>
                        <th>Cost</th>
                    </thead>

                    {% for acc in access_records_cost %}
                        <tr>
                            <td>{{ acc.drums_model }}</td>
                            <td>{{ acc.drums_store }}</td>
                            <td>{{ acc.drums_address }}</td>
                            <td>{{ acc.drums_cost }}</td>

                        </tr>
                  {% endfor %}
                </table>
            {% else %}
                <p>No access records found</p>
            {% endif %}
        </div>

    </div>
  </body>
</html>